@use "../base/variables";
@use "../base/mixins";

.container--add-todo {
  grid-template-areas: "input add";
  margin-bottom: 2rem;
  position: relative;
  // &::after {
  //   position: absolute;
  //   transform: translateX(50%);
  //   right: 50%;
  //   bottom: -1.6rem;
  //   content: "";
  //   width: 80%;
  //   height: 1px;
  //   background-image: linear-gradient(
  //     to right,
  //     transparent,
  //     lightgray,
  //     lightgray,
  //     lightgray,
  //     lightgray,
  //     lightgray,
  //     lightgray,
  //     lightgray,
  //     lightgray,
  //     lightgray,
  //     lightgray,
  //     transparent
  //   );
  //   border-radius: 999px;
  // }
  .input {
    &--add-todo {
      width: 100%;
      grid-area: input;
    }
  }
  .btn {
    &--add {
      grid-area: add;
      @include mixins.hover {
        background-color: var(--color-green);
      }
      @include mixins.touch-screen {
        &.touch {
          background-color: var(--color-green);
        }
      }
    }
  }
}
