@use "./variables";

@mixin border {
  border: 1px solid var(--color-gray);
  border-radius: variables.$radius;
}

@mixin border-rounded {
  @include border;
  border-radius: variables.$radius-round;
}

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}

@mixin active {
  @media (hover: hover) and (pointer: fine) {
    &:active {
      @content;
    }
  }
}

@mixin touch-screen {
  @media (pointer: coarse) {
    @content;
  }
}

@mixin half-screen {
  @media screen and (max-width: 768px) {
    @content;
  }
}
