:root {
  --bg: white;
  --bg-invert: hsl(30, 5%, 10%);
  --color-gray: rgb(100, 100, 100);
  --color-green: #b0ee6d;
  --color-yellow: #eed66d;
  --color-red: #ee6d6d;

  --color-text: hsl(30, 5%, 10%);

  --box-shadow: rgba(0, 0, 0, 0.2);
  --box-shadow-dark: rgba(0, 0, 0, 0.5);

  --active-padding: 0.9rem;
}

.darkmode {
  --bg: hsl(30, 5%, 10%);
  --bg-invert: white;
  --color-gray: rgb(175, 175, 175);
  --color-green: hsl(89, 79%, 15%);
  --color-yellow: #927a11;
  --color-red: #921111;

  --color-text: hsl(30, 5%, 80%);

  --box-shadow: rgba(0, 0, 0, 1);
  --box-shadow-dark: rgba(0, 0, 0, 1);
}

$gap: 1rem;

$radius: 8px;
$radius-round: 999px;

$transition: 0.125s all ease-out;
