@use "./mixins";
@use "./variables";

body {
  background-color: var(--bg);
  transition: variables.$transition;
  color: var(--color-text);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
  margin: auto;

  padding-top: 50px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: clamp(300px, 90vw, 600px);
  gap: 1rem;
}

.btn {
  transition: variables.$transition;
  background-color: var(--bg);
  padding: variables.$gap;
  cursor: pointer;
  color: var(--color-text);

  width: 100px;

  -webkit-tap-highlight-color: transparent;

  @include mixins.border;
  &--touch {
    background-color: inherit;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: variables.$gap;
  width: clamp(300px, 90vw, 600px);
  padding: variables.$gap;

  box-shadow: 1.5px 3px 6px var(--box-shadow);

  transition: variables.$transition;

  @include mixins.border;
}

.input {
  border: none;
  background-color: var(--bg);
  color: var(--bg-invert);
  transition: variables.$transition;
  &:focus {
    outline: none;
  }
}
